@tailwind base;
@tailwind components;
@tailwind utilities;
.community-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.community-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.btn {
    margin: 5px 0;
}
